@import url('https://fonts.googleapis.com/css?family=Gabriela');

h1 {
  text-align:center;
  font-family: 'Gabriela', serif;
  color:white;
 
}

h2 {
  text-align:center;
  font-family: 'Gabriela', serif;
  color:white;
}

h3 {
  font-size:2.2em;
  font-family: 'Gabriela', serif;
  color:white;
}

h4 {
  font-size:2.2em;
  text-align:left;
  font-family: 'Gabriela', serif;
  color:white;
}

h5 {
  font-size:2.2em;
  color:white;
  text-align:left;
  font-family: 'Gabriela', serif;
}


p {
  font-size:2.2em;
  color:gray;
  text-align:center;
  font-family: 'Gabriela', serif;
  
}
body{
  background-color:pink;
  margin:0;
   font-family: 'Gabriela', serif;
}

ul {
  font-size:.7em;
  
}

img {
  width:70%;
  border-radius:60%;
  border-style:solid;
  border-color:gray;
  margin-left:auto;
  margin-right:auto;
  display:block;
  float:right;
}
.navbar {
     list-style-type: none;
     background-color:white;
     text-align: center;
     margin:0;
     
     
    
 
     
}

.navbar a:link {
    text-decoration: none;
    text-align: center;
    padding-left: 10%;
    padding-right:10%;
    font-size: 35px;
}


.navbar li {
    display:inline;
    color: white;
}

.navbar a:hover {
  color: pink;
  background-color: gray;
}

.navbar a{
    color: pink;
}

.active a{
  color: red;
  
}


.footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height:10%
}



/*.nav-item {*/
/*  display: inline-block;*/

/*  margin-right: 5px;*/
/*}*/

/* 
4) Style nav -- inline, no bullet points, space between
*/

.nav-toggle {
  display: none;
/*   visibility: hidden; */
}

/* 
5) Hide the button for desktop
*/

@media (max-width: 400px) {
 
/* 
6) Add media query for mobile styles
*/
 
  .nav-item {
    display: block;
  }
  
/* 
7) Add mobile style for nav list -- items in a column
*/
  
  .nav-toggle {
    display: block;
  }
  
/* 
8) Display the button on mobile
*/
  
  .mobile-nav-hidden {
    display: none;
  }
}
